@import "tailwindcss";
/* @import "tailwindcss/preflight"; */
/* @import "tailwindcss/components"; */
@import "tailwindcss/utilities";


@layer base {
  body {
    @apply bg-black min-h-screen;
  }
}
@theme {
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --color-gold: #FFD700;
  --color-wheat: #F5DEB3;
  --color-rune-gold: #AA8A28;
}